In [29]:
#k-means by Hammad A Khan
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import numpy as np

%matplotlib

Using matplotlib backend: MacOSX

In [30]:
df = pd.read_csv("/Users/hammadakhan/Documents/EISTI/DataMining/k-means/whiskies.txt")
df.drop(['RowID'], inplace=True, axis=1)
remove_tab = lambda x: x.replace('\t','')
df.Postcode = df.Postcode.map(remove_tab)

In [31]:
df.head()

,Distillery,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude
0,Aberfeldy,2,2,2,0,0,2,1,2,2,2,2,2,PH15 2EB,286580,749680
1,Aberlour,3,3,1,0,0,4,3,2,2,3,3,2,AB38 9PJ,326340,842570
2,AnCnoc,1,3,2,0,0,2,0,0,2,2,3,2,AB5 5LI,352960,839320
3,Ardbeg,4,1,4,4,0,0,2,0,1,2,1,0,PA42 7EB,141560,646220
4,Ardmore,2,2,2,0,0,1,1,1,2,3,1,1,AB54 4NH,355350,829140

In [32]:
X = df.drop(['Distillery','Postcode',' Latitude',' Longitude'], axis=1)

In [33]:
X.head()

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral
0,2,2,2,0,0,2,1,2,2,2,2,2
1,3,3,1,0,0,4,3,2,2,3,3,2
2,1,3,2,0,0,2,0,0,2,2,3,2
3,4,1,4,4,0,0,2,0,1,2,1,0
4,2,2,2,0,0,1,1,1,2,3,1,1

In [34]:
#feature scaling
scaler = StandardScaler()
x_scaled = scaler.fit_transform(X)

In [35]:
x_scaled

array([[-0.07542547, -0.40765084,  0.54172898, ...,  0.31606376,
         0.25509887,  0.35566418],
       [ 1.00567291,  0.99466805, -0.62298833, ...,  1.91497456,
         1.54559904,  0.35566418],
       [-1.15652385,  0.99466805,  0.54172898, ...,  0.31606376,
         1.54559904,  0.35566418],
       ...,
       [-2.23762223,  0.99466805, -0.62298833, ...,  0.31606376,
        -1.0354013 ,  0.35566418],
       [-0.07542547, -0.40765084, -0.62298833, ..., -1.28284703,
        -2.32590146, -1.99719114],
       [-0.07542547,  0.99466805, -1.78770563, ...,  0.31606376,
         0.25509887, -0.82076348]])

In [38]:
# Finding K - below function is used
def find_k(X, k_range, sample_percent=1):
    #X: Data to cluster
    #k_range: range of K values
    from sklearn.cluster import KMeans
    import matplotlib.pyplot as plt
    import numpy as np
    from scipy.spatial.distance import cdist
    from sklearn.metrics import pairwise_distances
    
    N=X.shape[0]
    sampleSize = X.shape[0] * sample_percent
    
    if sampleSize > 0:
        index = np.arange(np.shape(X)[0])
        np.random.shuffle(index)
        X = X[index, :]
        
    mean_distortions = []
    for k in k_range:
        #cluster using K, then calculate the mean distortion (average distance to closest centroid)
        kmeans_model=KMeans(n_cluster=k, init='k-means++', n_jobs=-1).fit(X)
        mean_distortions.append(sum(np.min(pairwise_distances(X, kmeans_model.cluster_centers_,matrix='euclidean'),axis=1))/X.shape[0])
    
    mean_distortions
    #visualize results
    plt.plot(k_range, mean_distortions)
    plt.xlabel("K Value")
    plt.ylabel("Mean Distortion")
    plt.title("Elbow Graph for Mean Distortion per K")
    plt.show()

In [39]:
find_k(np.matrix(X), range(1-10), 1)

In [41]:
kmeans_model = KMeans(n_clusters=4, random_state=4)
kmeans_model.fit(x_scaled)

KMeans(copy_x=True, init='k-means++', max_iter=300, n_clusters=4, n_init=10,
    n_jobs=1, precompute_distances='auto', random_state=4, tol=0.0001,
    verbose=0)

In [42]:
df['label'] = kmeans_model.labels_

In [45]:
df.head(10)

,Distillery,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude,label
0,Aberfeldy,2,2,2,0,0,2,1,2,2,2,2,2,PH15 2EB,286580,749680,1
1,Aberlour,3,3,1,0,0,4,3,2,2,3,3,2,AB38 9PJ,326340,842570,1
2,AnCnoc,1,3,2,0,0,2,0,0,2,2,3,2,AB5 5LI,352960,839320,0
3,Ardbeg,4,1,4,4,0,0,2,0,1,2,1,0,PA42 7EB,141560,646220,3
4,Ardmore,2,2,2,0,0,1,1,1,2,3,1,1,AB54 4NH,355350,829140,2
5,ArranIsleOf,2,3,1,1,0,1,1,1,0,1,1,2,KA27 8HJ,194050,649950,0
6,Auchentoshan,0,2,0,0,0,1,1,0,2,2,3,3,G81 4SJ,247670,672610,0
7,Auchroisk,2,3,1,0,0,2,1,2,2,2,2,1,AB55 3XS,340754,848623,1
8,Aultmore,2,2,1,0,0,1,0,0,2,2,2,2,AB55 3QY,340754,848623,0
9,Balblair,2,3,2,1,0,0,2,0,2,1,2,1,IV19 1LB,270820,885770,0

In [46]:
df[df['label'] == 2]

,Distillery,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude,label
4,Ardmore,2,2,2,0,0,1,1,1,2,3,1,1,AB54 4NH,355350,829140,2
18,Bowmore,2,2,3,1,0,2,2,1,1,1,1,2,PA43 7GS,131330,659720,2
19,Bruichladdich,1,1,2,2,0,2,2,1,2,2,2,2,PA49 7UN,126680,661400,2
32,GlenDeveronMacduff,2,3,1,1,1,1,1,2,0,2,0,1,AB4 3JT,372120,860400,2
34,GlenGarioch,2,1,3,0,0,0,3,1,0,2,2,2,AB51 0ES,381020,827590,2
39,GlenScotia,2,2,2,2,0,1,0,1,2,2,1,1,PA28 6DS,172090,621010,2
53,Highland Park,2,2,3,1,0,2,1,1,1,2,1,1,KW15 1SU,345340,1009260,2
55,Isle of Jura,2,1,2,2,0,1,1,0,2,1,1,1,PA60 7XT,152660,667040,2
60,Loch Lomond,1,1,1,1,0,1,1,0,1,2,1,2,G83 0TL,239370,680920,2
66,Oban,2,2,2,2,0,0,2,0,2,2,2,0,PA34 5NH,185940,730190,2
67,OldFettercairn,1,2,2,0,1,2,2,1,2,3,1,1,AB30 1YE,370860,772900,2
68,OldPulteney,2,1,2,2,1,0,1,1,2,2,2,2,KW1 5BA,336730,950130,2
74,Springbank,2,2,2,2,0,2,2,1,2,1,0,1,PA28 6EJ,172280,620910,2
82,Tomatin,2,3,2,0,0,2,2,1,1,2,0,1,IV13 7YT,279120,829630,2
84,Tormore,2,2,1,0,0,1,0,1,2,1,0,0,PH26 3LR,315180,834960,2

In [48]:
X

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral
0,2,2,2,0,0,2,1,2,2,2,2,2
1,3,3,1,0,0,4,3,2,2,3,3,2
2,1,3,2,0,0,2,0,0,2,2,3,2
3,4,1,4,4,0,0,2,0,1,2,1,0
4,2,2,2,0,0,1,1,1,2,3,1,1
5,2,3,1,1,0,1,1,1,0,1,1,2
6,0,2,0,0,0,1,1,0,2,2,3,3
7,2,3,1,0,0,2,1,2,2,2,2,1
8,2,2,1,0,0,1,0,0,2,2,2,2
9,2,3,2,1,0,0,2,0,2,1,2,1
10,4,3,2,0,0,2,1,3,3,0,1,2
11,3,2,1,0,0,3,2,1,0,2,2,2
12,4,2,2,0,0,2,2,0,2,2,2,2
13,2,2,1,0,0,2,2,0,0,2,3,2
14,3,2,2,0,0,3,1,1,2,3,2,2
15,2,2,2,0,0,2,2,1,2,2,2,2
16,1,2,1,0,0,0,1,1,0,2,2,3
17,2,2,2,0,0,1,2,2,2,2,2,2
18,2,2,3,1,0,2,2,1,1,1,1,2
19,1,1,2,2,0,2,2,1,2,2,2,2
20,1,2,1,1,0,1,1,1,1,2,2,3
21,3,1,4,2,1,0,2,0,2,1,1,1
22,1,3,1,0,0,1,1,0,2,2,2,2
23,3,2,3,3,1,0,2,0,1,1,2,0
24,2,2,2,0,1,2,2,1,2,2,1,4
25,2,3,2,1,0,0,1,0,2,2,2,2
26,4,2,2,0,0,1,2,2,2,2,2,1
27,3,2,2,1,0,1,2,2,1,2,3,1
28,2,2,2,0,0,2,1,0,1,2,2,2
29,2,2,1,0,0,2,1,1,1,3,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
56,2,3,1,0,0,2,2,1,2,1,2,2
57,4,1,4,4,1,0,1,2,1,1,1,0
58,4,2,4,4,1,0,0,1,1,1,0,0
59,2,3,1,0,0,1,1,2,0,1,3,2
60,1,1,1,1,0,1,1,0,1,2,1,2
61,3,2,1,0,0,1,1,1,3,3,2,3
62,4,3,1,0,0,2,1,4,2,2,3,1
63,2,1,1,0,0,1,1,1,2,1,2,2
64,2,4,1,0,0,1,0,0,2,1,1,2
65,3,2,2,0,0,2,3,3,2,1,2,2
66,2,2,2,2,0,0,2,0,2,2,2,0
67,1,2,2,0,1,2,2,1,2,3,1,1
68,2,1,2,2,1,0,1,1,2,2,2,2
69,2,3,2,1,1,1,2,1,0,2,3,2
70,3,2,2,0,0,2,2,2,2,2,3,1
71,2,2,1,1,0,2,1,1,2,2,2,2
72,2,4,1,0,0,2,1,0,0,2,1,2
73,2,2,1,0,0,1,0,1,2,2,2,2
74,2,2,2,2,0,2,2,1,2,1,0,1
75,2,2,1,0,0,2,2,2,3,3,3,2
76,2,3,1,0,0,0,2,0,2,1,3,2
77,4,2,3,3,0,1,3,0,1,2,2,0
78,1,2,1,0,0,2,0,1,1,2,2,2
79,1,3,2,0,0,0,2,0,2,1,2,3
80,2,2,2,1,0,0,2,0,0,0,2,2
81,1,1,1,0,0,1,0,0,1,2,2,2
82,2,3,2,0,0,2,2,1,1,2,0,1
83,0,3,1,0,0,2,2,1,1,2,1,2
84,2,2,1,0,0,1,0,1,2,1,0,0
85,2,3,0,0,1,0,2,1,1,2,2,1

In [49]:
np.matrix(X)

matrix([[2, 2, 2, ..., 2, 2, 2],
        [3, 3, 1, ..., 3, 3, 2],
        [1, 3, 2, ..., 2, 3, 2],
        ...,
        [0, 3, 1, ..., 2, 1, 2],
        [2, 2, 1, ..., 1, 0, 0],
        [2, 3, 0, ..., 2, 2, 1]])

In [54]:
np.matrix(X).shape[1]

12